#page-registro-campanha {
  width: 100vw;
  height: 100vh;
  background: rgb(48, 12, 75);
  background-image: url("../../assets/images/background.svg");
  background-size: contain;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}


@media (min-width: 1100px) {
  #page-registro-campanha {
    background-size: cover;
  }

  #boxform-id {
    padding: 7rem;
  }

}
