#page-login {
  width: 100vw;
  height: 100vh;
  background: rgb(48, 12, 75);
  background-image: url("../../assets/images/background.svg");
  background-size: contain;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.box-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  width: 90%;
  background-color: var(--color-white);
  border-radius: 0.3rem;
}

.box-form-container h1 {
  font-size: 2.6rem;
  color: #74009e;
  font-family: Poiret One;
  letter-spacing: 0.1rem;
  margin-bottom: 1.2rem;
}

.box-form-container h3 {
  color: #74009e;
  font-size: 1.6rem;
  text-decoration: none;
}

.box-form-container span {
  color: #000000;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

.box-form-container .field-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.box-form-container .field-group-row {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.box-form-container .field {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  align-items: center;
  margin-top: 4rem;
}

.box-form-container .field input[type="text"],
.box-form-container .field input[type="email"],
.box-form-container .field input[type="date"],
.box-form-container .field input[type="password"],
.box-form-container .field select {
  width: 90%;
  border: none;
  border-bottom: solid 1px;
  color: #000000;
  outline: none;
  transition: 0.5s;
  font-size: 1.4rem;
  text-align: center;
  padding: 0.5rem;
}

.box-form-container .field input[type="text"]:focus,
.box-form-container .field input[type="email"]:focus,
.box-form-container .field input[type="password"]:focus,
.box-form-container .field select:focus {
  border: solid 1px;
  border-radius: 0.3rem;
  width: 98%;
  color: #74009e;
}

.box-form-container .field label {
  color: #000000;
  margin-bottom: 1rem;
  text-align: center;
}

.box-form-container .button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-form-container .button-submit button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 3rem;
  background-color: var(--color-button);
  border: none;
  border-radius: 0.3rem;
  transition: all linear 0.1s;
  cursor: pointer;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.box-form-container .button-submit button:hover {
  opacity: 0.8;
  width: 23rem;
  height: 3.2rem;
}

.spans {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-form-container .spans .span-cadastro {
  font-size: 1.2rem;
  text-align: center;
}

.box-form-container .spans .span-link {
  font-size: 1.2rem;
  color: #74009e;
  font-weight: bold;
  cursor: pointer;
  transition: all linear 0.6s;
  text-align: center;
  text-decoration: none;
}

.box-form-container .spans .span-link:hover {
  opacity: 0.8;
}

.container-map {
  width: 100%;
  margin-bottom: 4rem;
  color: #000000;
  text-align: center;
  margin-top: 3rem;
}

.container-map label {
  margin-bottom: 3rem;
}

.items-necessidade {
  margin-top: 2rem;
  min-inline-size: auto;
  border: 0;
}

.label {
  color: black;
  font-size: 1.3rem;
  line-height: 0.3rem;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 1.6rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.items-grid li {
  background: #f5f5f5;
  border: 2px solid #f5f5f5;
  width: 100%;
  height: 13rem;
  border-radius: 8px;
  padding: 2.5rem 0px 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  text-align: center;

  cursor: pointer;
  transition: 0.3s;
}

.items-grid li img {
  padding: 0.5rem;
  width: 8rem;
  height: 4rem;

  transition: 0.3s;
}

.items-grid li span {
  flex: 1;
  margin-top: 12px;

  display: flex;
  align-items: center;
  color: black;
}

.items-grid li.selected-item {
  background: #e8caf5ee;
  border: 2px solid #8218af;
  width: 100%;
  height: 15rem;
}

@media(max-width: 320px) {
  .items-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1100px) {
  .box-form-container {
    width: 50%;
  }

  .box-form-container .field {
    align-items: initial;
  }

  .box-form-container .field-group-row {
    flex-direction: row;
  }

  .box-form-container .field input[type="text"],
  .box-form-container .field input[type="email"],
  .box-form-container .field input[type="password"],
  .box-form-container .field input[type="number"] {
    width: 95%;
    text-align: initial;
  }


  .box-form-container .field input[type="text"]:focus,
  .box-form-container .field input[type="email"]:focus,
  .box-form-container .field input[type="password"]:focus {
    width: 80%;
    border: solid 1px;
    border-radius: 0.3rem;
    color: #74009e;
  }

  .box-form-container .field label {
    text-align: initial;
  }

  .container-map {
    text-align: initial;
  }

  .items-grid {
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    margin-top: 1rem;
  }
}
